* {
    box-sizing: border-box;
}


body {
    background-color: #000;
}

hr {
     border: 5px solid #bfbfbf;
}

header {
    /* background-image: url(/images/NG-en-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg); */
}

.logo {
    color: #e50914;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 4%;
}

.header-button {
    background-color: #e50914;
    margin-left: 75%;
}



