@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans:wght@300;500&display=swap');



* {
    box-sizing: border-box;
}

html {
font-size: 10px;
}

body {
    background-color: #000;
    font-family: 'Montserrat', 'Open Sans', sans-serif;

}

hr {
    border: 5px solid #bfbfbf;
}

header {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(/images/NG-en-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding-bottom: none;
}

.navbar {
    padding:  20px 3.5rem 0 3.5rem;
    display: flex;
    justify-content: space-between;
    height: 64px;

}



.header-button a {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    background-color: #e50914;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.header-txt {
    text-align: center;
}

.header-txt h1 {
    font-size: 50px;
}

.header-txt h2 {
    font-size: 30px;
    margin-top: 12px;

}

.header-email {
    margin-top: 2rem;
    text-align: center;
}

.header-email h3 {
    font-size: 20px;
}

.header-container {
    padding: 70px 45px;
}

.header-txt-container {
    padding: 75px 0px;
    max-width: 1100px;
    margin: 0 auto;
}
.header-txt-container p {
    text-align: left;
}
.subscribe-form {
    max-width: 900px;
    flex-direction: row;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}
.input-div {
    width: 500px;
}
.input-div input {
    /* min-height: 100%; */
    height: 60px;
    border-radius: 0px;
    width: 100%;
}

.email {
    padding: 17px 14px;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none
}

.email-button {
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: #e50914;
    width: 250px;
    text-align: center;
    height: 60px;
}

.email-button a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
}
.email-alert{
    color: #ffa00a;
}

.header-hr {
    margin-top: -0.03rem;
}

/* tv section */
.tv-section {
    padding: 70px 45px;
}

.tv-div {
    display: flex;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.tv-col-img {
    background-image: url(/images/tv.png);
    min-height: 400px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}

.tv-section-txt {
    max-width: 50%;
    margin: auto;
    color: #fff;
}

.tv-section h1 {
    font-size: 2.7em;
    font-weight: 900;
    margin-bottom: 1rem;
}

.tv-section h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

/* download section */
.download-section {
    padding: 70px 45px;
}

.download-div {
    display: flex;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.download-section-txt {
    margin: auto;
    color: #fff;
}

.download-section h1 {
    font-size: 2.7em;
    font-weight: 900;
    margin-bottom: 1rem;
}


.download-section h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.download-section img {
    margin: auto;
    max-width: 75%;
}

/* watch section */
.watch-section {
    padding: 70px 45px;
}

.watch-div{
    display: flex;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.watch-txt {
    max-width: 50%;
    justify-content: left;
    text-align: left;
    color: #fff;
}

.watch-section h1 {
    font-size: 2.7em;
    font-weight: 900;
    margin-bottom: 1rem;
}

.watch-section h2 {
    font-size: 1rem;
    font-weight: 400;
}

/* kids section */
.kids-section {
padding: 70px 45px;
}
.kids-div{
    display: flex;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.kids-section-txt {
    max-width: 50%;
    margin: auto;
    color: #fff;
}

.kids-section h1 {
    font-size: 2.7em;
    font-weight: 900;
    margin-bottom: 1rem;
}

.kids-section h2 {
    font-size: 1rem;
    font-weight: 400;
}

.kids-section img {
    max-width: 75%;
    margin-bottom: 3em;
    margin: auto;
}

/* faq-section */
.faq-section {
    padding: 75px 40px;
    text-align: center;
    color: #fff;
}

.faq-container{
    max-width: 1100px;
    margin:  0 auto;
}

.faq-section h1 {
    font-size: 3em;
    font-weight: bold;
}


.faq-accordion-div {
    max-width: 100%;
    margin: 3rem 3rem;
    border: thin solid red;
}

.accordion-item {
    margin-bottom: 1%;
}

.faq-button {
    background: #303030;
    color: #fff;
    font-size: 2rem;
    font-size: 500;
    padding: 3% 3%;
}

.accordion-body {
    background: #303030;
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
    text-align: left;

}

.accordion-body p {
    padding: 2% 1%;
}

/* footer */
.footer {
    justify-items: center;
    margin-left: 15rem;
    margin-top: 4rem;
}
.footer-div{
    max-width: 1100px;
    margin: 0 auto;
}

.footer a {
    text-decoration: none;
    color: #757575;
    font-size: 0.8em;
}

.footer li {
    list-style-type: none;
    line-height: 2;
}

.footer-question {
    margin-bottom: 2em;
}

.footer-question a {
    font-size: 1em;
}


@media screen and (max-width: 768px) {
   html {
       font-size: 8px;
   } 

   .subscribe-form{
       flex-direction: column;
   }

   .story-card{
       flex-direction: column;
   }
   .faq-accordion-div {
    margin: 0rem;
}
}