* {
    box-sizing: border-box;
}


body {
    background-color: #000;
}

hr {
     border: 5px solid #bfbfbf;
}

header {
    color: #fff;
    background-image: url(/images/NG-en-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg); 
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: none;
}

.logo {
    color: #e50914;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 4%;
}

.header-button {
    background-color: #e50914;
    margin-left: 75%;
}

.tv-col img{
    max-width: 90%;
}

